* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* Global Styles */
:root {
  --main-orange: #ff791f;
}
h1,
h2 {
  font-family: "PT Sans", sans-serif;
  color: var(--main-orange);
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 36px;
}
p {
  font-size: 23px;
  font-family: "Lato", sans-serif;
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: 900;
}

/* Navigation */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
  background-color: var(--main-orange);
  position: sticky;
  box-shadow: 2px 2px 4px 4px black;
  top: 0;
}
header a img {
  border-radius: 5px;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
  border-right: 1px solid black;
  padding-right: 1rem;
  margin-right: 1rem;
  font-size: 24px;
}
nav ul li a {
  text-decoration: none;
  color: black;
}

/* Main content */
main {
  margin-top: 7rem;
  z-index: -1;
}
.content-wrapper {
  max-width: 70%;
  margin: 0 auto;
}

/* Hero section */
.hero-content-wrapper {
  display: flex;
  max-width: 70%;
  margin: 0 auto;
}
.carousel-hero-img-wrapper {
  width: 500px;
  height: 500px;
  border: 1px solid black;
  flex: 1.8;
}
.cta {
  text-align: center;
  flex: 1.5;
  padding: 2rem;
}
.cta p {
  margin-top: 5rem;
  margin-bottom: 4rem;
}
.cta a {
  color: white;
  background-color: var(--main-orange);
  text-decoration: none;
  padding: 1rem 2rem;
  border: 0.6px solid black;
  border-radius: 5px;
}
