* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* Global Styles */
:root {
  --main-orange: #ff791f;
}
h1,
h2 {
  font-family: "PT Sans", sans-serif;
  color: var(--main-orange);
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 36px;
}
p {
  font-size: 23px;
  font-family: "Lato", sans-serif;
}
a {
  font-family: "Lato", sans-serif;
  font-size: 18px;
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: 900;
}

/* Navigation */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
  background-color: var(--main-orange);
  position: sticky;
  box-shadow: 2px 2px 4px 4px black;
  top: 0;
  z-index: 999;
}
header a img {
  border-radius: 5px;
  margin-left: 3rem;
}
nav ul {
  margin-right: 3rem;
  display: flex;
}
nav ul li {
  list-style: none;
  border-right: 1px solid black;
  padding-right: 1rem;
  margin-right: 1rem;
  font-size: 24px;
}
nav ul li a {
  text-decoration: none;
  color: black;
}

/* Main content */
main {
  margin-top: 2rem;
  z-index: -1;
}
.content-wrapper {
  max-width: 70%;
  margin: 0 auto;
}

/* Hero section */
.home-hero-section {
  box-shadow: 2px 5px 5px grey;
  background-image: url("../images/main-hero.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 65vh;
  opacity: 0.86;
  z-index: -2;
  margin-bottom: 2rem;
}
.hero-content-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 70%;
  margin: 0 auto;
}
.carousel-hero-img-wrapper {
  min-width: 500px;
  height: 500px;
  border: 1px solid black;
  flex: 1.8;
}
.cta {
  text-align: center;
  flex: 1.5;
  padding: 2rem;
}
.cta p {
  margin-top: 5rem;
  margin-bottom: 4rem;
  color: white;
}
.cta a {
  color: white;
  background-color: var(--main-orange);
  text-decoration: none;
  padding: 1rem 2rem;
  border: 0.6px solid black;
  border-radius: 5px;
}

/* End header section */

/* Begin main content section */
.important-text {
  color: red;
  text-align: center;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.main-content {
  display: flex;
  justify-content: space-between;
}

.featured-animals {
  border-left: 1px solid black;
  margin-left: 1rem;
}
.featured-adoptable,
.featured-ambassador {
  display: flex;
  margin-bottom: 2rem;
}
.featured-text {
  width: 60%;
  margin-left: 3rem;
}
.featured-img img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-left: 2rem;
  margin-top: 5rem;
}

/* End of main content */

/* Begin of Adoptable slider */

.adoptable-preview h1 {
  text-align: center;
  margin-top: 5rem;
}
.adoptable-carousel {
  width: 80%;
  height: 300px;
  border: 1px solid black;
  margin: 0 auto;
}
