* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* Global Styles */
:root {
  --main-orange: #ff791f;
}
body {
  background-color: rgb(238, 222, 194);
  position: relative;
  overflow-x: hidden;
}
h1,
h2 {
  font-family: "PT Sans", sans-serif;
  color: var(--main-orange);
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 36px;
}
p {
  font-size: 23px;
  font-family: "Lato", sans-serif;
}
a {
  font-family: "Lato", sans-serif;
  font-size: 18px;
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: 900;
}
.button {
  position: relative;
  top: 0;
  background-color: var(--main-orange);
  color: white;
  border-radius: 5px;
}
.button:hover {
  transition: 0.1s ease-in-out;
  background-color: #b34e0b;
  top: 2px;
}
.button:active {
  top: 4px;
}
a {
  text-decoration: none;
}
.top-dashed-line {
  border-top: 2px dashed var(--main-orange);
}
.medium-text {
  font-size: 36px;
}
/* Navigation */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
  background-color: white;
  position: sticky;
  box-shadow: 2px 2px 4px 4px rgb(15, 15, 15);
  top: 0;
  z-index: 888;
}
header a img {
  border-radius: 5px;
  margin-left: 3rem;
}
nav ul {
  margin-right: 3rem;
  display: flex;
}
nav ul li {
  list-style: none;
  border-right: 1px solid var(--main-orange);
  padding-right: 1rem;
  margin-right: 1rem;
  font-size: 24px;
}
nav ul li a {
  text-decoration: none;
  color: var(--main-orange);
  transition: all 0.2s ease;
}
nav ul li a:hover {
  color: #cc6018;
  text-shadow: 1px 1px #cc6018;
}

/* Main content */
main {
  margin-top: 1rem;
  z-index: -1;
}

.content-wrapper {
  max-width: 70%;
  margin: 0 auto;
}

/* Begin Home page content */

/* Hero section */
.home-hero-section {
  background-image: url("../images/main-hero.jpg");
  margin-bottom: 2rem;
}
.home-hero-section,
.donation-hero-section {
  box-shadow: 2px 5px 5px grey;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 70vh;
  min-width: 100%;
  opacity: 0.82;
  z-index: -2;
}
.hero-content-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 70%;
  margin: 0 auto;
}
.carousel-hero-img-wrapper {
  min-width: 500px;
  height: 500px;
  border: 1px solid black;
  background: black;
  margin-top: 5vh;
  flex: 1.8;
}
.cta {
  text-align: center;
  flex: 1.5;
  padding: 2rem;
}
.cta p {
  margin-top: 5rem;
  margin-bottom: 4rem;
  color: white;
}
.cta a {
  color: white;
  background-color: var(--main-orange);
  text-decoration: none;
  padding: 1rem 2rem;
  border: 0.6px solid black;
  border-radius: 5px;
}

/* End header section */

/* Begin main content section */
.important-text {
  color: red;
  text-align: center;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.main-content {
  display: flex;
  justify-content: space-between;
}

.featured-animals {
  border-left: 1px dashed var(--main-orange);
  margin-left: 1rem;
}
.featured-adoptable,
.featured-ambassador {
  display: flex;
  margin-bottom: 2rem;
}
.featured-text {
  width: 60%;
  margin-left: 3rem;
}
.featured-img img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-left: 2rem;
  margin-top: 5rem;
}

/* End of main content */

/* Begin of Adoptable slider */

.adoptable-preview h1 {
  text-align: center;
  margin-top: 5rem;
}
.adoptable-carousel {
  width: 80%;
  height: 300px;
  border: 1px solid black;
  margin: 4rem auto;
}

/* End of adoptable slider */

/* Begin extras section */
.extras {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 2.5rem;
  border-top: 1px dashed var(--main-orange);
}
.ticket {
  position: relative;
}

.o25 {
  position: absolute;
  bottom: 7rem;
  left: 2.2rem;
  pointer-events: none;
}
.ticket h3 {
  position: absolute;
  bottom: 2.8rem;
  left: 2.5rem;
  pointer-events: none;
}
.s275 {
  position: absolute;
  bottom: 10rem;
  left: 14rem;
  pointer-events: none;
}
.ticket p {
  font-size: 16px;
  position: absolute;
  width: 50%;
  bottom: 1rem;
  left: 15rem;
  pointer-events: none;
}

.events {
  max-width: 40%;
}

/* End of extras section */

/* End of homepage styles */

/* Begin donation page styles */

/* Hero section */
.donation-hero-section {
  background-image: url("../images/donate-hero.jpg");
  margin-bottom: 2rem;
  padding: 7rem;
}
.donation-hero-content-wrapper {
  max-width: 40%;
  background-color: white;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 10px;
  opacity: 0.95;
}
.donation-hero-content-wrapper h1 {
  margin-bottom: 1rem;
  opacity: 1;
}
.donation-hero-content-wrapper p {
  text-align: center;
  color: black;
  margin-bottom: 1rem;
}
.donation-form {
  padding: 1rem;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.donation-form h2 {
  margin-bottom: 30px;
}
.donation-form input,
.donation-form button {
  text-align: center;
}
.donation-form input {
  padding: 5px 10px;
  font-size: 24px;
}
.donation-form button {
  margin-top: 0.5rem;
  padding: 7px 12px;
  cursor: pointer;
}

/* End hero section */

/* Begin main content */

.donation-content {
  display: flex;
  justify-content: space-between;
}
.donation-left-content {
  flex: 1;
  margin-right: 2rem;
}
.donation-left-content p,
.donation-left-content h1 {
  margin-top: 2rem;
}
.donate-links {
  display: flex;
  align-items: center;
}
.donate-links a {
  color: #00a9b3;
  margin-left: 2vh;
}
.paypall-button {
  width: 10rem;
  height: 3rem;
}
.license-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 2rem 0;
}
.license-links a img {
  width: 8rem;
  margin-right: 2rem;
}

.donation-right-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.donation-right-content svg,
.donation-right-content a {
  margin-left: 9rem;
}
.donation-right-content svg,
.donation-right-content a,
.donation-right-content h2 {
  margin-top: 6rem;
  text-align: center;
}
.donation-right-content h2 {
  margin-top: 1rem;
}
.top-heading,
.bottom-p,
.top-p,
.bottom-heading {
  width: 80%;
  text-align: center;
}
.top-heading {
  padding-top: 1rem;
  margin: 0 auto;
}
.bottom-heading {
  padding-bottom: 1rem;
  margin: 0 auto;
  border-bottom: 2px dashed black;
}
.donation-right-content a {
  width: 360px;
}
.donation-right-content a img {
  height: 30rem;
}
.bottom-p {
  margin: 2rem auto 0rem auto;
  padding: 2rem;
  color: #60975e;
}
.top-p {
  margin: 1rem auto 0rem auto;
  padding-top: 3rem;
}

/* End of main content */

/* End of donate page */

/* Begin of adoptables page */

.information-page {
  height: 100vh;
  width: 100%;
  background-color: white;
  color: black;
  z-index: 999;
  position: fixed;
  transform: translateX(200%);
}
.information-page-move-in {
  animation: move-in 1s forwards ease-in-out;
}
.information-page-move-out {
  animation: move-out 1s forwards ease-in-out;
}
@keyframes move-in {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes move-out {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(200%);
  }
}
.information-page button {
  position: absolute;
  right: 20rem;
  top: 5rem;
  width: 3rem;
  height: 3rem;
  border: none;
  background-color: white;
  cursor: pointer;
}
.line1 {
  width: 3rem;
  height: 0.2rem;
  background-color: black;
  transform: translate(0px, 2.8px) rotate(45deg);
  pointer-events: none;
}
.line2 {
  width: 3rem;
  height: 0.2rem;
  background-color: black;
  transform: translate(0px, -2.8px) rotate(-45deg);
  pointer-events: none;
}
.head {
  display: flex;
  align-items: flex-end;
  margin-bottom: 2rem;
}
.head svg {
  margin-left: 0.5rem;
  align-self: center;
}
.dash-div {
  width: 75%;
  border-bottom: 2px dashed var(--main-orange);
  align-self: center;
  margin-left: 0.5rem;
}
.adoptables-content p,
.adoptable-links {
  width: 80%;
  margin: 2rem auto;
}
.adoptable-links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20rem;
}
.adopt-img-wrapper {
  position: relative;
}
.adoptable-links img {
  border-radius: 50%;
}
.adoptable-links p {
  position: absolute;
  pointer-events: none;
}
.birdsP {
  color: white;
  top: 9rem;
  left: 4.5rem;
  font-size: 48px;
}
.reptP {
  color: white;
  top: 9.2rem;
  left: 3.5rem;
}
.mammalsP {
  color: white;
  top: 10.2rem;
  left: 4rem;
  font-size: 32px;
}

/* End adoptable home page */

/* Beigin individual adoptable styles */

.individual-adopt-content p {
  width: 90%;
  margin: 2rem auto 0 auto;
}
.adopt-images-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  margin: 2rem auto 0 auto;
  border: 1px solid black;
  height: 20vh;
}

/* Begin footer styles */
footer {
  min-width: 100%;
  height: 10vh;
  background-color: var(--main-orange);
  box-shadow: 2px 2px 4px 4px black;
}
.footer-fix1 {
  /* padding-bottom: 10vh; */
  min-height: 100vh;
  position: relative;
}
.footer-fix {
  position: fixed;
  bottom: 0;
}
.footer-content {
  display: flex;
  padding-top: 4vh;
}
.footer-content p,
.footer-content a {
  margin-left: 2rem;
}
.footer-content a {
  text-decoration: none;
  color: black;
}
.footer-content i {
  font-size: 30px;
}
.fa-instagram {
  background: -webkit-linear-gradient(45deg, #f99847, #de554c, #a84b7a);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fa-facebook-square {
  color: blue;
}
.fa-youtube {
  color: red;
}
